body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hsl(212, 23%, 69%);
}


.card{
     display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
    
}

.column {
  float: left;
  width: 500px;
  padding: 10px;
  height: 400px;
background-color:white;
text-align: center;
border-bottom-right-radius: 10px;

}




#left-preview {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}



h2 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    line-height: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    color: hsl(212, 23%, 69%);
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}



.author{
margin-top: 70px;
    display: flex;
    flex-direction:row;

}

.a-image img{
border-radius: 100%;
    width: 60px;
margin-left: 20px;
}


.name{
margin-left: 20px;
 color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 15px;
}

.date{
    margin: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  
background: hsl(210, 46%, 95%);
  width: 3.2rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-left: 198px;

}

.tooltip .tooltiptext {
  display: flex;
  flex-direction: row;
    align-items: center;
    padding: 0 3.2rem;
 justify-content: center;
  visibility: hidden;
  width: 120px;
  background-color: hsl(217, 19%, 35%);
  text-align: center;
  border-radius: 6px;
  margin-right:20px ;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext ul {
  list-style: none;
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  
  padding: 0;
}

.tooltiptext li {
  display: block;
  
}

.tooltiptext li a {
  display: block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


@media screen and (max-width:880px) {
  .card{
   width:100%;
    display: flex;
    flex-direction: column;
    padding:10px;
  }



.column {
  width: 300px;
  padding: 20px;
  height: 400px;
}

#left-preview {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    height: 200px;
}



h2 {
    color: hsl(217, 19%, 35%);
    font-weight: 300;
    text-align: left;
    font-size: 20px;
}

p {
    line-height: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    color: hsl(212, 23%, 69%);
    font-weight: 500;
}





.author{
margin-top: 70px;
    display: flex;
    flex-direction:row;

}

.a-image img{
border-radius: 100%;
    width: 40px;
margin-left: 20px;
}


.name{
margin-right: 13px;
 color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 15px;
}

.date{
    margin: 0px;
}

.tooltip{
  margin-left: 20px;
   top: 100%;
  left: 2%;
  
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 2%;
  margin-left: -60px; 
  
}


}